section form {
   width: 250px;
   margin: 0 auto;
   padding: 25px 10px 25px 50px;
   margin-top: 70px;
   background-color: #CCCCFF;
   border-radius: 10px;
   box-shadow: 5px 3px 8px #c4c4c9;

}

form input{
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0px 15px 0px;
    border: none;
}
form label{
    font-size: 20px;
    font-weight: 600;
   
}
form select{
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;

}
.btn{
    background-color: #40E0D0;
    padding: 10px 15px;
    font-size: 18px;
}
.btn:hover{
    background-color: #fff;
}
input:hover{
    background-color: #b6eeee;
}
